/*
Los comentarios en CSS se escriben entre estos signos
Los comentarios no afectan a lo que se describa mediante CSS
*/

/*
Partamos con la regla-arroba @keyframes - https://developer.mozilla.org/es/docs/Web/CSS/@keyframes
Esta es uno de cuatro reglas-arroba que revisaremos hoy, las restantes serán @media, @import y @font-face
https://developer.mozilla.org/es/docs/Web/CSS/At-rule#Grupos_de_Reglas_Condicionales
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@keyframes cualquiera {
  from {
    background: #AFC2D5;
  }
  to {
    background: #7AA8D6;
  }
}

body {
  color:#37474f;
  padding:0;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.75;
  overflow-x: hidden;

  /* a continuación llamaré a la animación definada más arriba */
animation: cualquiera 3s ease-in infinite alternate;

  /*animation-name: agua;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* más sobre animación en https://developer.mozilla.org/es/docs/Web/CSS/animation */
}

a{
  color:#048A81;
  transition: all ease 2s;
}

a:hover{
  color:#D31376;
  text-decoration: none;
  margin:1rem;
  text-decoration: none;
}

:lang(en){
  font-style: italic;
}

h1,h2{margin:0; padding:0;}

pre{
  overflow-x: auto;
  background:rgba(255,255,255,0.2);
  padding:0.5rem;
  margin:1rem -0.5rem 1.75rem -0.5rem;
}

pre:hover{
  background:rgba(255,255,255,0.4);
  transition: background ease 1s;
  cursor: pointer;
}

code{
  color:#666;
}

.hidden{
    display: none;
}

#scrolling{
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: auto;
  height: auto;
  text-align: center;
  background: none;
}

.imagen{
  height:60vh;
  width:100vw;
  background:white url('https://i.rmbl.ws/s8/6/d/o/F/t/doFta.4Wpjb.1.jpg') center center no-repeat;
  backgroun-size:cover;
}

.texto{
  padding:2rem 6rem 4rem 6rem;
}

ul li:nth-of-type(1):after {
  font-weight: bold;
  color:#003;
  content:" (prefieran Chrome)";
}

ul li:nth-of-type(3):after {
  font-weight: bold;
  color:#003;
  content:" (eviten Safari)";
}

/*
A continuación se usa otra regla-arroba.
Esta nos permita re-escribir descripciones según condición medial
https://developer.mozilla.org/es/docs/Web/CSS/@media
*/

@media screen and (max-width:576px){

  .imagen{
    height:50vh;
  }
  .texto{
    padding:2rem 2rem 4rem 2rem;
  }
}
